@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Conventional Medicine has its purpose but, food can help you avoid chronic illnesses and promote longevity.</p>
