@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    DFW Metroplex<br />
    <!--Redmond, WA 98052-6399<br />
    <abbr title="Email">P:</abbr>
    CrystalFrazier@techie.com--></address>

<address>
    <strong>Support:</strong>   <a href="mailto:CrystalFrazier@techie.com.com">CrystalFrazier@techie.com</a><br />
</address>