@{
    ViewBag.Title = "Home Page";
}

@section headerCarousel {
    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide One');"></div>
                <div class="carousel-caption">
                    <h2 class="quote">“Let food be thy medicine and medicine be thy food.” ~Hippocrates</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Two');"></div>
                <div class="carousel-caption">
                    <h2 class="quote">“No disease that can be treated by diet should be treated with any other means.” ~Maimonides</h2>

                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('http://placehold.it/1900x1080&text=Slide Three');"></div>
                <div class="carousel-caption">
                    <h2 class="quote">“Life expectancy would grow by leaps and bounds if green vegetables smelled as good as bacon.” ~Doug Larson</h2>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>
}

<!-- Call to Action Section -->

<div class="well">
    <div class="row">
        <div class="col-md-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias, expedita, saepe, vero rerum deleniti beatae veniam harum neque nemo praesentium cum alias asperiores commodi.</p>
        </div>
        <div class="col-md-4">
            <a class="btn btn-lg btn-default btn-block" href="#">Call to Action</a>
        </div>
    </div>
</div>
<!-- /.row -->
<hr>

<!-- Marketing Icons Section deleted -->

<!-- /.row -->
<!-- Portfolio Sections -->

<!--added 2 portfolio sections & changed the titled-->

<!--First Portfolio section-->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">VIDEOS</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/CfLmky7t_As/0.jpg" alt="">
        </a>
        <!--<figcaption class="caption">The Vegan vs The Paleo Diet</figcaption>-->
        <a class="caption" href="https://youtu.be/CfLmky7t_As?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">The Vegan vs The Paleo Diet</a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/8QP4EXGaDrQ/0.jpg" alt="">
        </a>
        <!--<figcaption class="caption">The Benefits of Bone Broth</figcaption>-->
        <a class="caption" href="https://youtu.be/u54kzeqflLc?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">The Benefits of Bone Broth</a>

    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/Ib2IYwFZO-A/0.jpg" alt="">
        </a>
       <!--<figcaption class="caption">Intermittent Fasting Can Heal The Body</figcaption>-->
       <a class="caption" href="https://youtu.be/u54kzeqflLc?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">Intermittent Fasting Can Heal The Body</a>

    </div>
</div>
    <!--Second Portfolio Section-->

<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">RECIPES</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/Ve1HDaznwvs/0.jpg" alt="">
        </a>
        <a class="caption" href="https://youtu.be/Ve1HDaznwvs?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">Raw Vegan Chocolate Cheesecake</a>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/GnLc95VpW5Q/0.jpg" alt="">
        </a>
        <a class="caption" href="https://youtu.be/GnLc95VpW5Q?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">Paleo Chicken Enchiladas</a>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://img.youtube.com/vi/AxvGLoiO_Vo/0.jpg" alt="">
        </a>
        <a class="caption" href="https://youtu.be/AxvGLoiO_Vo?list=PLSvz8Am5-4Q2J_nHNEShVi4VyU1JrRrIq">High Protein Low Carb Breakfast</a>
    </div>
</div>
    <!--Third Portfolio Section-->
<div class="row">

    <div class="col-lg-12">
        <h2 class="page-header">ARTICLES</h2>
    </div>
    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://images.agoramedia.com/everydayhealth/gcms/Mediterranean-Diet-May-Boost-Your-Brain-1440x810.jpg?width=450" alt="">
        </a>
        <a class="caption" href="https://www.takingcharge.csh.umn.edu/mediterranean-diet">The Mediterranean Diet</a>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="https://www.healthunits.com/wp-content/uploads/2016/09/Mediterranean-Diet-Is-Your-Best-Bet-At-Avoiding-Cardiovascular-Diseases.jpg" alt="">
        </a>
        <a class="caption" href="http://www.newsweek.com/eating-clean-holistic-diet-430131">Fundamentals of a Clean Diet</a>
    </div>

    <div class="col-md-4 col-sm-6">
        <a href="portfolio-item.html">
            <img class="img-responsive img-portfolio img-hover contentimgsize" src="http://kriscarr.com/wp-content/uploads/2016/06/healthyfats-header-850x444.png" alt="">
        </a>
        <a class="caption" href="http://www.today.com/health/why-fat-your-diet-good-weight-loss-glowing-skin-t102800">Fats Can Help You Lose Weight</a>
    </div>
</div>

<!-- /.row -->
<!-- Features Section removed-->


@section scripts {
    
    <!--increased the speed to 7500 to slow down carousel-->
    <script>
    $('.carousel').carousel({
        interval: 7500 //changes the speed
    })
</script>
    +}








    